body{
    margin: 36px auto 0 auto;
    width: 100%;
    font-family: Futura, "Trebuchet MS", Arial, sans-serif;
} 

h1 {
    font-size: 30px;
}

h3 {
    font-size: 20px;
}

#page{
    margin: 0 auto 53px;
    width: 93.75%; 
    border: 1px solid black;
    border-radius: 15px;
}

#other{
    float: right;
    width: 36.7777778%; 
}


header h1 {
    padding: 0.8em 5.33333333%;  
}

nav ul li{
    display: inline-block;
    list-style-type: none;
}

aside {
    margin: 0 auto;
    width: 69.7885196%; 
}

aside h2, aside p{
    padding: .2em 8.48056537% .2em 8.48056537%; 
}

footer{
    clear: both;
}

#form article#main{
    float: none;
    margin: auto; 
    text-align: left;
    width: 600px; 
}

fieldset{
    border: 1px solid #00498e;
    clear: both;  
}

fieldset.contact{
    float: left;
}

fieldset.contact label{
    display: block;
    text-align: right 
}

fieldset.contact input{
    width: 15em; 
}

fieldset.buttons{
    border: none;
}

fieldset.wrapper {
    border: 0;
    margin: auto;
}

fieldset.wrapper legend {
    color: black;
    font-size: 1.2em;
    font-weight: bold;
    margin-top: 10px;
}

fieldset.wrapper > legend {
    
    font-size: 1.6em;
}

body {
    margin-top: 0;
}

label {
    color: black;
    display: block;
    font-size: .9em;
    font-weight: bold;
}

figure.logo {
    float: left;
}

fieldset {
    border: none;
    padding: 5px;
}

form {
    background-color: white;
    padding: 10px;
    margin-top: 10px;
}

header {
    padding: 3em 0;
    background-image:
        linear-gradient(
          #E6E6E6, white
        );
}

header h1 {
    margin: 0;
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: .1em;
    font-size: 3em;
    padding: 0;
}

/* Begin Desktop Nav */
@media (min-width: 768px){
    nav li {
        text-align: center;
        padding: 0;
    }
    
    nav li.active {
        color: white;
        background-color: #3E3E3E;
        padding: 14.5px;
    }
    nav#nav {
        display: flex;
        height: 50px;
        overflow: hidden;
        justify-content: center;
        border-top: 1px solid grey;
        border-bottom: 1px solid grey;
        margin-bottom: 10px;
    }
    
    #navbar {
        display: flex!important;
        justify-content: center;
        align-items: center;
    }
    
    .fixed {
        position: fixed;
        top: 0;
        height: 50px;
        left: 50%;
        z-index: 1000;
        transform: translate(-50%,0);
        -webkit-transform: translate(-50%,0);
        border-top: 0!important;
        margin-bottom: 50px;
        width: 100%;
        background-color: rgba(255,255,255,0.9);
        box-shadow: 0 0 10px rgba(0,0,0,0.3);
    }

    .nav-wrap {
        height: 50px;
    }
}

.active {
    position: relative;
    display: block;
    padding: 10px 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 20px;
    color: white;
    background-color: #3E3E3E;
}

.navbar-toggle {
    background-color: lightgrey;
}

.navbar-toggle .icon-bar {
    background-color: grey;
}

nav a {
    text-decoration: none;
    color: black;
}

nav a:hover {
    color: #FF4F4F;
}

.mistake {
    border: 3px solid red;
}

footer hr {
    margin-bottom: 20px;
}

header {
    text-align: center;
    font-family: Georgia, Times, "Times New Roman", serif;
}

footer {
    border-top: 1px solid grey;
    margin-top: 10px;
    padding-top: 10px;
}

footer ul {
    vertical-align: middle;
    list-style: none;
    padding-left: 0;
}

.github {
    display: flex;
    justify-content: center;
    align-items: center;
}

ul.exp {
    list-style: none;
    padding: 0;
}

ul.exp p {
    padding: 0 1em;
    margin: 0;
}

ul.exp h4 {
    margin-bottom: .5em;
}

#coursework ul, #projects ul {
    list-style: none;
    padding: 0;
}

#projects ul > li > ul {
    list-style-type: disc;
    padding-left: 1em;
}

#projects ul > li > ul > li > ul {
    list-style-type: circle;
}

#main #projects > ul > li > ul {
    margin-left: 65px;
}

#projects img {
    float: left;
    width: 50px;
    margin-right: 10px;
}

 #main #projects a {
    text-decoration: none;
    color: #D66464;
}

#coursework li {
    margin-bottom: 10px;
}

#coursework i {
    font-size: .8em;
}

#index img {
    width: 20px;
}

.contact label {
    margin-bottom: 5px;
}

#blog h3 {
    text-align: center;
}

#index ul img {
    margin-right: 10px;
}
#index ul li {
    margin: 5px 0;
}
#index ul {
    list-style: none;
    padding: 0;
}

#coursework > ul > li > ul {
    padding-left: 2em;
}

.required {
    font-weight:bolder;
    font-style:italic;
}

input[type="email"] input:valid{
    border: 3px solid green;
}

input[type="email"] input:invalid{
    border: 3px solid red;
}

div.spacer {
    margin-top: 50px;
}

.mistake {
    border: 3px solid red; !important
}
