<footer>
  <div class="container">
    <div class="col-sm-4"><p style="margin-bottom: 0;">Sam Swanke</p><a target="_blank" href="{{ site.url }}/SamSwankeResume.pdf">Resume</a></div>
    <div class="col-sm-4"><a href="https://github.com/skswanke" class="github"><img src="{{ site.url }}/images/github.png" alt="Github">GitHub</a></div>
    <div class="col-sm-4" style="text-align: right;">Websites:
      <ul>
        <li><a href="http://harvestinghappiness.org" target="_blank">harvestinghappiness.org</a></li>
        <li><a href="http://search.intersil.com" target="_blank">search.intersil.com</a></li>
        <li><a href="http://uvm.edu/~cems" target="_blank">uvm.edu/~cems</a></li>
      </ul>
    </div>
  </div>
</footer>
