<footer>
  <article class="container">
    <section class="col-sm-4"><p>Sam Swanke</p></section>
    <section class="col-sm-4"><a href="https://github.com/skswanke" class="github"><img src="{{ site.url }}/images/github.png" alt="Github">GitHub</a></section>
    <section class="col-sm-4" style="text-align: right;">Websites:
      <ul>
        <li><a href="http://harvestinghappiness.org">harvestinghappiness.org</a></li>
        <li><a href="http://search.intersil.com">search.intersil.com</a></li>
        <li><a href="http://uvm.edu/~cems">uvm.edu/~cems</a></li>
      </ul>
    </section>
  </article>
</footer>
