<header>
  <h1>Sam Swanke</h1>
</header>
<div class="nav-wrap">
  <div class="nav-anchor"></div>
  <nav>
      <ol>
        <li{% if page.url == '/' %} class="active">Home</li>{% else %}><a href="/">Home</a></li>{% endif %}
        <li{% if page.url == '/projects/' %} class="active">Projects</li>{% else %}><a href="/projects/">Projects</a></li>{% endif %}
        <li{% if page.url == '/experience/' %} class="active">Experience</li>{% else %}><a href="/experience/">Experience</a></li>{% endif %}
        <li{% if page.url == '/coursework/' %} class="active">Course Work</li>{% else %}><a href="/coursework/">Course Work</a></li>{% endif %}
        <li{% if page.url == '/contact/' %} class="active">Contact</li>{% else %}><a href="/contact/">Contact</a></li>{% endif %}
    </ol>
  </nav>
</div>
