<header>
  <h1>Sam Swanke</h1>
</header>
<div class="nav-wrap">
  <div class="nav-anchor"></div>
    <nav class="navbar" id="nav">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <div id="navbar" class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li{% if page.url == '/' %} class="active">Home</li>{% else %}><a href="/">Home</a></li>{% endif %}
          <li{% if page.url == '/projects/' %} class="active">Projects</li>{% else %}><a href="/projects/">Projects</a></li>{% endif %}
          <li{% if page.url == '/experience/' %} class="active">Experience</li>{% else %}><a href="/experience/">Experience</a></li>{% endif %}
          <li{% if page.url == '/coursework/' %} class="active">Course Work</li>{% else %}><a href="/coursework/">Course Work</a></li>{% endif %}
          <li{% if page.url == '/contact/' %} class="active">Contact</li>{% else %}><a href="/contact/">Contact</a></li>{% endif %}
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </nav>
</div>
