<header class="nav-wrap">
  <div class="nav-anchor"></div>
  <nav>
      <ol>
        <li{% if page.url == '/' %} class="active"{% endif %}><a href="/">Home</a></li>
        <li{% if page.url == '/projects/' %} class="active"{% endif %}><a href="/projects/">Projects</a></li>
        <li{% if page.url == '/experience/' %} class="active"{% endif %}><a href="/experience/">Experience</a></li>
        <li{% if page.url == '/coursework/' %} class="active"{% endif %}><a href="/coursework/">Course Work</a></li>
        <li{% if page.url == '/contact/' %} class="active"{% endif %}><a href="/contact/">Contact</a></li>
    </ol>
  </nav>
</header>
